* {
    margin: 0;
    padding: 0;
}

.me {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

