* {
    margin: 0;
    padding: 0;
}

 header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

nav {
    text-transform: uppercase;
    text-align: right;
    padding: 35px 3px 3px 15px;
    margin: 3px;
    margin-left: auto;
}

nav a {
    color: rgb(118, 145, 118);
    margin: 30px;
    font-size: 20px;
    text-decoration: none;
    text-align: right;
}

.navgif {
    margin: 3px;
}