* {
    margin: 0;
    padding: 0;
    background-color: rgb(253, 249, 238)
}

 header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

nav {
    text-transform: uppercase;
    text-align: right;
    align-self: center;
    margin: 5px;
    margin-left: auto;
}

nav a {
    color: rgb(18, 55, 118);
    margin: 30px;
    font-size: 20px;
    text-decoration: none;
    text-align: right;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

nav a:hover {
    color: rgba(18, 55, 118, 0.448);
}

.navgif {
    margin: 15px;
  }

 footer {
    text-transform: uppercase;
    text-align: left;
    padding: 35px 3px 3px 15px;
    margin: 3px;
 }

  footer a {
    color: rgb(18, 55, 118);
    margin: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
  }

    footer a:hover {
        color: rgba(18, 55, 118, 0.448);
    }

  